/*HEADER*/
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.header-content{
    display: grid;
    grid-template-columns: 65% 35%; 
    column-gap: 20px;
    margin-bottom: 35px;
}
.header-content > img{
    width: 100%;
}
.header-content--text{
width: 90%;
}
.header-content--text>h1{
    margin: 10px 0px;
}
.header-content--text>p{
    color: rgb(61, 61, 61);
}
.header-content--list{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 20px;
}
.header-content--list>li{
    margin-right: 50px ;
    font-weight: bold;
}
/*MAIN*/
.article-main{
    display: flex;
    flex-direction: column;
}
.article-main--sections{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.article-main--sections> img{
    width: 50%;

}
.article-main--text{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article-main--text> h2{
    margin-top: 0px;
    font-size: 20px;
}

.article-bottom{
    display: flex;
    direction: row ;
    width: 100%;
}
.article-bottom--section{
    width: 100%;
}
.article-bottom--section> img{
    width: 100px;
    height: 100px;
}

.article-bottom--text> h2{
    margin: 0px 0px;
    font-size: 10px;
}

